.quest-img-logo
	width 144px
	height 36px
	background-size 144px

	background-repeat no-repeat

	retinaBackground('header-logo')

	@media screen and (max-width: 1024px)
		width 100px
		height 106px
		background-size 100px
