quest-info-title-font = 700 22px PTSans, sans-serif
quest-info-field-font = 400 30px CourierNew, serif
quest-info-title-color = #2f1b15
quest-info-field-color = #231f20


.quest-info-item
	margin-bottom 7px

	clearfix()

	&__title
		font quest-info-title-font
		color quest-info-title-color

		line-height 30px

		padding-top 25px
		padding-right 15px

		float left

		@media screen and (max-width: 720px)
			float none

			margin-bottom 5px

	&__field
		font quest-info-field-font
		color quest-info-field-color

		line-height 52px

		overflow-wrap break-word

		background-size 770px

		background-repeat no-repeat

		background-position 0 100%

		padding 0 15px

		overflow hidden

		retinaBackground('border')

		@media screen and (max-width: 720px)
			line-height 30px

			padding-bottom 10px

	&_inline
		display inline-block
