include ../quest-checkbox-item/quest-checkbox-item

mixin quest-checkbox-list(data)
	+b.quest-checkbox-list&attributes(attributes)
	
		+quest-title('h2',getData('text')[0].title)._margin_small
		+quest-text(getData('text')[0].text)._margin_big
			
		+quest-col.UL
			each item, i in data
				if i <= 6
					+quest-checkbox-item(item.id, item.label, item.checked).js-check-state
					
		+quest-col.UL
			each item, i in data
				if i > 6 && i < 14
					+quest-checkbox-item(item.id, item.label, item.checked).js-check-state
					
		+quest-col.UL
			each item, i in data
				if i > 13
					+quest-checkbox-item(item.id, item.label, item.checked)._margin.js-check-state
