include ../quest-container/quest-container
include ../quest-row/quest-row
include ../quest-col/quest-col
include ../quest-title/quest-title
include ../quest-text/quest-text

include ../quest-header/quest-header
include ../quest-info-list/quest-info-list
include ../quest-checkbox-list/quest-checkbox-list
include ../quest-range-level/quest-range-level
include ../quest-words/quest-words
include ../quest-radio-list/quest-radio-list


mixin quest()
	+quest-container
	
		+quest-row._margin_middle
			+quest-header
		
		+quest-row._margin_big
			+quest-info-list(getData('info'))
			
		+quest-row._margin_small
			+quest-checkbox-list(getData('checkbox'))
					
		+quest-row._margin_small
			+quest-range-level.js-range-wrapper
					
		+quest-row._margin_middle
			+quest-words
					
		+quest-row._margin_big
			+quest-radio-list
		
		+quest-row._margin_middle
			+quest-info-item('Дата заполнения', '00.00.0000')._inline
