include ../quest-range-arrow/quest-range-arrow
include ../quest-range-scale/quest-range-scale

mixin quest-range-level()
	+b.quest-range-level&attributes(attributes)
	
		+quest-title('h2',getData('text')[1].title)._margin_big
	
		+quest-range-arrow('js-range-input')
		+quest-range-scale('js-range-label')
		
	
