.quest-level

    @media screen and (max-width: 720px)
        margin-bottom 20px

    &__range-wrapper
        height 25px

        background-size 770px

        background-position -4px -1px

        background-repeat no-repeat


        border-left 2px solid #3f241e
        border-right 2px solid #3f241e

        position relative

        retinaBackground('border')
