quest-radio-label-font = 700 20px PTSans, sans-serif
quest-radio-label-color = #000
quest-radio-link-color = #1f5f97


.quest-radio-item
	display block

	margin-bottom 16px

	&__input
		display none
		&:checked + label:after
			opacity 1

	&__label
		display block

		font quest-radio-label-font
		color quest-radio-label-color

		padding-left 33px

		position relative

		&:before
		&:after
			content ''

			display block
			width 28px
			height 28px

			position absolute

			top 0
			left 0

			retinaSprite($radio_group)

		&:after
			width 14px
			height 14px

			top 7px
			left 7px

			opacity 0

			retinaSprite($radio_checked_group)

		&:hover
			cursor pointer

	&__link
		color quest-radio-link-color

	&_inline
		display inline-block

		margin-right 17px
