mixin quest-radio-item(id, label, checked)
	+b.quest-radio-item&attributes(attributes)
		+e.INPUT.input(type='radio' id='radio-#{id}' checked=checked name='radio')
		+e.LABEL.label(for='radio-#{id}')!= label
