quest-scale-title-font = 700 13px PTSans, sans-serif
quest-scale-title-color = #2f1b15
quest-scale-delimiter-color = #3f241e

.quest-range-scale
	display block

	margin-left 0

	margin-right 2px

	&__field
		height 25px

		background-size 770px

		background-position -4px -1px

		background-repeat no-repeat


		border-left 2px solid quest-scale-delimiter-color
		border-right 2px solid quest-scale-delimiter-color

		position relative

		retinaBackground('border')

	&__delimiter
		width 2px
		height 12px

		background quest-scale-delimiter-color

		position absolute

		top 0

		&_1
			left 19%
		&_2
			left 48.5%

	&__labels
		clearfix()

	&__label
		float left

		position relative

		&_1
			width 19%

			padding-top 4px
			padding-right 15px

			left -3px
		&_2
			width 29.5%

			padding-top 2px
			padding-right 15px

			left -4px
		&_3
			width 25%

			padding-top 3px

			left -4px
		&_4
			width 25%

			text-align right

			padding-top 9px

			float right

	&__text
		display inline-block

		font quest-scale-title-font
		color quest-scale-title-color

		line-height 1.4

		cursor pointer
