mixin quest-range-scale(js='')
	+b.quest-range-scale&attributes(attributes)
		+e.field
			+e.delimiter_1
			+e.delimiter_2
		+e.labels
			+e.label_1 
				+e.SPAN( class='text '+js) Не владею
			+e.label_2 
				+e.SPAN( class='text '+js) Использую готовые решения
			+e.label_3 
				+e.SPAN( class='text '+js) Использую готовые решения <br> и умею их переделывать
			+e.label_4 
				+e.SPAN( class='text '+js) Пишу сложный JS с нуля
