quest-words-field-font = 400 30px CourierNew, serif
quest-words-field-color = #231f20

.quest-words-field
	display block

	font quest-words-field-font
	line-height 58px

	column-rule quest-words-field-color

	background-size 770px

	background-position 0 -7px

	background-repeat repeat-y

	margin-top -3px

	retinaBackground('border-words')
