include ../quest-words-field/quest-words-field

mixin quest-words()
	+b.quest-words&attributes(attributes)
	
		+quest-title('h2',getData('text')[2].title)._margin_middle
		+quest-text(getData('text')[2].text)._margin_big
				
		+quest-words-field Крутое тестовое задание, отзывчивые HR-специалисты <br> ...
