quest-title-font = 700 24px PTSans, sans-serif
quest-title-color = #2f1b15


.quest-title
	font quest-title-font
	color quest-title-color

	&_margin

		&_big
			margin-bottom 19px

		&_middle
			margin-bottom 10px

		&_small
			margin-bottom 6px
