mixin quest-checkbox-item(id, label, checked)
	+b.quest-checkbox-item&attributes(attributes)
		+e.INPUT.input(type='checkbox' id='check-#{id}' checked=checked)
		+e.LABEL.label(for='check-#{id}')!= label
