quest-checkbox-label-font = 700 21px PTSans, sans-serif

quest-checkbox-label-color = #000
quest-checkbox-link-color = #1f5f97


.quest-checkbox-item
	display block

	margin-bottom 11px

	&__input
		display none
		&:checked + label:after
			opacity 1

	&__label
		display block

		font quest-checkbox-label-font
		color quest-checkbox-label-color

		line-height 24px

		padding-left 25px

		position relative

		&:before
		&:after
			content ''

			display block
			width 18px
			height 18px

			position absolute

			top 3px
			left 0

			retinaSprite($checkbox_group)

		&:after
			width 20px
			height 24px

			top -6px
			left 3px

			opacity 0

			retinaSprite($checked_group)

		&:hover
			cursor pointer

	&__link
		display inline-block

		color quest-checkbox-link-color

	&_margin
		margin-left 14px

		margin-bottom 12px

		@media screen and (max-width: 800px)
			margin-left 0
