include ../quest-img-logo/quest-img-logo
include ../quest-img-stamp/quest-img-stamp
include ../quest-img-title/quest-img-title

mixin quest-header()
	+b.quest-header&attributes(attributes)
	
		+e.img_1
			+quest-img-logo
			
		+e.img_2
			+quest-img-stamp
			
		+e.img_3
			+quest-img-title
