.quest-header
	height 253px

	position relative

	&__img
		position absolute

		&_1
			left 0

			top 53px

			@media screen and (max-width: 1024px)

				top 10px

		&_2
			right -60px

			top 33px

			@media screen and (max-width: 1024px)

				right 0

				top 10px

		&_3
			left 50%

			bottom -3px

			margin-left -125px

			@media screen and (max-width: 1024px)
				margin-left -107px
