include ../quest-radio-item/quest-radio-item

mixin quest-radio-list()
	+b.quest-radio-list&attributes(attributes)
	
		+quest-title('h2',getData('text')[3].title)._margin_small
		+quest-text(getData('text')[3].text)._margin_small
		
		+b.UL
			+quest-radio-item('1','Верстать')._inline.js-radio-state
			+quest-radio-item('2','Прокачиваться в JS', 'checked')._inline.js-radio-state
			+quest-radio-item('3','Менеджерство')._inline.js-radio-state
			+quest-radio-item('4','Другое')._inline.js-radio-state
