.quest-range-arrow
	display block

	margin-left -7px

	margin-right -5px

	position relative


	&__field
		-webkit-appearance none

		width 100%
		height 20px

		background-color transparent

// Track

	input[type=range]::-moz-range-track
		width 100%
		height 0

		border none

		background transparent

		border-radius 0

		cursor pointer

.quest-range-arrow__field
	&::-webkit-slider-runnable-track
		width 100%

		height 5px

		border none

		border-radius 0

		background transparent

		cursor pointer

// Thumb

.quest-range-arrow__field::-webkit-slider-thumb
	-webkit-appearance none

	border none

	width 16px
	height 14px

	background-color tansparent

	margin-top -4px

	cursor pointer

	retinaSprite($level_arrow_group)

.quest-range-arrow__field::-moz-range-thumb
	width 16px
	height 14px

	background transparent

	border none

	border-radius 0

	cursor pointer

	retinaSprite($level_arrow_group)

// no nesting unnecessary colon
