quest-text-font = 400 15px PTSans, sans-serif
quest-text-color = #3d3d3d

.quest-text
	display block

	font quest-text-font
	color quest-text-color

	line-height 23px

	&_margin

		&_big
			margin-bottom 29px

		&_small
			margin-bottom 14px
