.quest-img-stamp
	width 252px
	height 106px
	background-size 252px

	background-repeat no-repeat

	retinaBackground('header-stamp')

	@media screen and (max-width: 1024px)
		width 150px
		height 106px
		background-size 150px
